.address {
  margin-bottom: 42px;

  // Tablet
  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 157px;
  }
}

.address-button {
  width: 189px;
  border: 2px solid #444444;
  padding: 14px 36px 14px 35px;

  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 39px;
  cursor: pointer;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 176px;
    padding: 14px 26px 14px 24px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 395px;
    bottom: -90px;
    padding: 14px 25px;
  }
}

.address-button__link {
  color: #444444;
  text-decoration: none;
}
