.card {
  margin-bottom: 30px;
  border: 1px solid #ececec;
  width: 260px;

  // Tablet
  @media (min-width: $tablet-width) {
    display: flex;
    width: 668px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 316px;
  }
}

.card__image {
  width: 260px;
  height: 195px;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.card__image-link {
  width: 260px;
  height: 195px;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.card__bottom {
  padding: 25px 28px 27px 28px;

  // Tablet
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 33px 26px 34px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    padding: 27px 32px 26px 28px;
  }
}

.card__description {
  border-bottom: 1px solid #ececec;
  margin-bottom: 23px;

  // Tablet
  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.card__description-link {
  display: block;
  width: 227px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #000000;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 262px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.card__description-text {
  display: block;
  margin-bottom: 17px;
  color: #444444;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  // Tablet
  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // margin-bottom: 36px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
}

.card__buy-price {
  color: #000000;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  // Tablet
  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // margin-bottom: 36px;
  }
}

.card__buy-button {
  border: none;
  background-color: #ffffff;
}
