.cart-list {
  margin: 0;
  padding: 0;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 348px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 350px;
    margin-top: 0;
  }
}

.cart-list__item {
  margin: 0 auto;
  border-top: 1px solid #ececec;

  // Tablet
  @media (min-width: $tablet-width) {
    position: relative;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      height: 300px;
      width: 1px;
      background-color: #ececec;
    }
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}

.cart-list__item--search {
  // Tablet
  @media (min-width: $tablet-width) {
    width: 83px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}

.cart-list__item--cart {
  // Tablet
  @media (min-width: $tablet-width) {
    width: 265px;
    text-align: right;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // padding-top: 10px;
  }
}

.cart-list__item-link span {
  // Tablet
  @media (min-width: $tablet-width) {
    display: none;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}

.cart-list__item-link {
  display: block;
  padding: 28px 33px 27px 30px;
  margin: 0 auto;
  text-decoration: none;
  width: 260px;

  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  // Tablet
  @media (min-width: $tablet-width) {
    padding: 0;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}

.cart-list__item-link svg {
  padding-right: 26px;
}

.cart-list__item-link--search {
  // position: relative;

  // Tablet
  @media (min-width: $tablet-width) {
    display: block;
    // position: absolute;
    width: 18px;
    height: 18px;
    padding: 36px 34px 34px 34px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    padding: 34px 32px 34px 32px;
  }
}

.cart-list__item-link--cart {
  position: relative;

  // Tablet
  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 233px;
    padding: 35px 0 34px 31px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 232px;
    padding: 35px 0 35px 31px;
  }
}

.cart-list__item-link--cart svg {
  // padding-right: 26px;

  // Tablet
  @media (min-width: $tablet-width) {
    // margin-right: 31px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    margin-right: 0;
    // width: 1050px;
  }
}
