.catalog__title {
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 73px;
  background-color: #f1f1f1;
  margin-bottom: 30px;

  color: #000000;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  // Tablet
  @media (min-width: $tablet-width) {
    // width: 402px;

    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 75px;
    margin-bottom: 79px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill.svg");
    }
  }

  // Desktop
  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 128px;

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  width: 260px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;

  // Tablet
  @media (min-width: $tablet-width) {
    width: 668px;
    margin-bottom: 53px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-bottom: 57px;
    flex-direction: row;
    justify-content: space-between;
  }
}
