// .copyright {
// }

.copyright__link {
  width: 184px;
  padding-top: 22px;
  padding-bottom: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  color: #000000;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}
