.examples {
  height: 489px;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 320px 356px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 31px;
  // display: block;
}

.examples__title {
  width: 260px;
  color: #000000;
  margin: 0;
  padding-top: 73px;

  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  // display: block;
}

.examples__list {
  // position: absolute;
}
