.logo {
  // Tablet
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    width: 320px;
    margin-left: auto;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}

.logo-link {
  // Tablet
  @media (min-width: $tablet-width) {
    display: block;
    width: 113px;
    height: 46px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // width: 1050px;
  }
}
