.logo {
  width: 320px;
  margin: 0 auto;

  // Tablet
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    width: 320px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 295px;
  }
}

.logo-link {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;
  margin-bottom: 18px;

  // Tablet
  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    width: 113px;
    height: 46px;
    padding: 22px 207px 20px 0;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    padding: 9px 45px;
  }
}

// .logo-image {
//   display: block;
//   margin: 0 auto;
// }
