.main-header {
  position: relative;
  padding-top: 27px;

  // Tablet
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 668px;
    margin-bottom: -68px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    padding-top: 9px;
    margin-bottom: -47px;
    width: 1050px;
  }
}

// .main-header__wrapper {
//   position: relative;
// }
