.main-header {
  position: relative;

  // Tablet
  @media (min-width: $tablet-width) {
    // padding-top: 22px;
    padding-bottom: 40px;
  }

  // Desktop
  @media (min-width: $desktop-width) {
    // padding-top: 9px;
    // padding-bottom: 7px;
  }
}

.main-header__wrapper {
  position: relative;

  // // Tablet
  // @media (min-width: $tablet-width) {
  //   width: 700px;
  //   margin: 0 auto;
  //   padding: 0 30px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 38px;
  // }

  // // Desktop
  // @media (min-width: $desktop-width) {
  //   width: 1217px;
  //   padding: 0 40px;
  //   margin-bottom: 86px;
  // }
}
