// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Colors
$light-turquoise: rgba(99, 209, 187, 1);
$light-turquoise-2: rgba(89, 213, 188, 1);
$dark-turquoise: rgba(86, 195, 178, 1);
$dark-turquoise-2: rgba(70, 193, 174, 1);
